.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input{
    width: 40px;
    border: none;
    border-bottom : 3px solid grey;
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}
.input:focus{
    border-bottom: 3px solid orange;
    outline: none;
}
.input:nth-child(1){
    cursor: pointer;
    pointer-events: all;
}